{% extends 'base.html' %}
{% load static %}
{% block title %}
    signup successful!
{% endblock %}

{% block content %}
<div class="container">
    <div class="section centered-content">
        
        <h1 class="centered-text">
            Sign Up Complete!<br>
        </h1>
        Thank you for signing up! Please check your email for a link to activate your account.<br>
        If you don't see the email in your inbox, please be sure to check your spam or junk folder, just in case it was filtered there.<br>
           <h2>Welcome aboard!.
        </h2>
        <br>

        <img src="{% static 'img/success.png' %}" alt="Your Logo" class="large-centered-image">
        
    </div>
</div>

<style>
    .container {
        margin: 0 auto; /* Center the container horizontally */
        max-width: 600px; /* Limit the maximum width of the container */
        padding: 0 20px; /* Add padding to the container */
    }

    .section {
        border: 1px solid #ccc; /* Fine line border */
        border-radius: 20px; /* Smooth edges */
        padding: 20px; /* Add padding */
        margin-bottom: 20px; /* Add space between sections */
        background-color: white; /* Section background color */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
    }

    /* Style for form labels */
    label {
        display: block; /* Display each label on a new line */
        margin-bottom: 5px; /* Add space between labels */
        font-weight: bold; /* Make labels bold */
    }

    /* Style for form inputs */
    input[type="email"],
    input[type="url"] {
        width: 95%; /* Set input width to fill the container */
        padding: 10px; /* Add padding */
        margin-bottom: 10px; /* Add space between inputs */
        border-radius: 5px; /* Smooth edges */
        border: 1px solid #ccc; /* Fine line border */
    }

    /* Style for submit button */
    input[type="submit"] {
        width: 100%; /* Set button width to fill the container */
        padding: 10px; /* Add padding */
        border-radius: 5px; /* Smooth edges */
        background-color: #1DCD8D; /* Button background color */
        color: white; /* Button text color */
        border: none; /* Remove button border */
        cursor: pointer; /* Change cursor to pointer on hover */
        transition: background-color 0.3s; /* Smooth transition for background color */
    }

    .centered-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center; /* Center-align the text */
        
    }

    .large-centered-image {
        display: block;
        margin: 0 auto; /* Center the image horizontally */
        max-width: 100%; /* Ensure the image doesn't exceed its container's width */
        height: auto; /* Maintain the image's aspect ratio */
        width: 35%; /* Set the desired width */

    }
</style>
{% endblock %}
